@model UserCreateModel
@{
    ViewData["Title"] = "SignUp";
}

<div class="mt-4">
    <form asp-controller="Account" asp-action="SignUp" method="post" class="p-4 w-75 mx-auto">
        <div class="mb-3">
            <label asp-for="Firstname"></label>
            <input asp-for="Firstname" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Surname"></label>
            <input asp-for="Surname" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="Username"></label>
            <input asp-for="Username" class="form-control" />
        </div>

        <div class="mb-3">
            <label asp-for="PhoneNumber"></label>
            <input asp-for="PhoneNumber" class="form-control" />
        </div>

        @* cinsiyet *@
        <div class="mb-3">
            <select class="form-select" asp-items="@Model.Genders" asp-for="GenderId">
                <option value="0">Cinsiyet Seçiniz</option>
            </select>
        </div>

        @* şifre *@
        <div class="mb-3">
            <label asp-for="Password"></label>
            <input asp-for="Password" type="password" class="form-control" />
        </div>

        @* şifre tekrar *@
        <div class="mb-3">
            <label asp-for="ConfirmPassword"></label>
            <input type="password" asp-for="ConfirmPassword" class="form-control" />
        </div>

        @* buton *@
        <div class="mb-3 text-end">
            <button type="submit" class="btn btn-outline-primary">Kayıt Ol</button>
        </div>

        <div asp-validation-summary="All" class="text-center"></div>
    </form>
</div>

